<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 是否开启自动驼峰命名规则 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!--开启懒加载-->
		<setting name="lazyLoadingEnabled" value="true"/>
		<!--关闭积极加载-->
		<setting name="aggressiveLazyLoading" value="false"/>
	</settings>
	
	<!-- 定义别名 -->
	<typeAliases>
		<package name="com.esms.po"/>
	</typeAliases>
	
	<!-- 引入分页插件 pagehelper -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!--分页参数合理化  防止出现-1页，或者超出最大页数-->
			<property name="reasonable" value="true"/>
		</plugin>
	</plugins>

</configuration>

